{% extends 'base.html' %}

{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/customer/cn_a_stocks.css' %}" />
{% endblock %}

{% block script %}
    <script>
        function view_stocks(cid){
            params = {'cid': cid};
            $.getJSON("ajax_getstocks_by_category", params, function(res){
                $("#category-name").html("<h3>"+res.ah_category+"</h3>");

                tr_str = "";
                for(var i=0;i<res.ah_data.length;i++){
                    tr_str += "<tr><td><a href='detail?sid="+res.ah_data[i][2]+"'>"+res.ah_data[i][0]+ "</a></td><td>"+res.ah_data[i][1] +"</td></tr>";
                }
                $("#stocks-info").html(tr_str);
            });
        }
    </script>
{% endblock %}

{% block content %}

    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#home" data-toggle="tab">
                 沪深股票列表
            </a>
        </li>
        <li><a href="#category" data-toggle="tab">板块划分</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <table class="table table-striped">
              <thead>
                <tr>
                    <th>名称</th>
                    <th>编号</th>
                    <th>板块</th>
                    <th>地域</th>
                    <th>上市时间</th>
                </tr>
              </thead>
              <tbody>
               {% for h in sh %}
                <tr>
                    <td>
                        <div class="stock-name"><a href="detail?sid={{h.id}}">{{ h.stock_name }}</a></div>
                        {% if h.now_price != None %}
                            {% if h.price_change < 0 %}
                                <span class="stock-realtime-price green-price-color">{{h.now_price}}  ({{h.price_change}}%)</span></td>
                            {% elif h.now_price == 0 %}
                                <span class="stock-realtime-price white-price-color">{{h.now_price}}</span></td>
                            {% else %}
                                <span class="stock-realtime-price red-price-color">{{h.now_price}}  ({{h.price_change}}%)</span></td>
                            {% endif %}
                        {% endif %}
                    <td>{{ h.stock_code }}</td>
                    <td>{{ h.category.category_name }}</td>
                    <td>{{ h.area }}</td>
                    <td>{{ h.ipodate }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        {% include "pagination.html" %}
        </div>


	<div class="tab-pane fade" id="category">
        <div class="row">
            <div class="col-md-4">
                <table style="font-size:0.9em;">
                    <tr>
                        <td>
                            {% for c in ah_category_0 %}
                                <a href="javascript:void(0);" class="list-group-item" onclick="view_stocks('{{ c.id }}')">
                                    {{c.category_name}}
                                </a>
                            {% endfor %}
                        </td>
                        <td>
                            {% for c in ah_category_1 %}
                                <a href="javascript:void(0);" class="list-group-item" onclick="view_stocks('{{ c.id }}')">
                                    {{c.category_name}}
                                </a>
                            {% endfor %}
                        </td>
                        <td>
                            {% for c in ah_category_2 %}
                                <a href="javascript:void(0);" class="list-group-item" onclick="view_stocks('{{ c.id }}')">
                                    {{c.category_name}}
                                </a>
                            {% endfor %}

                        </td>

                        <td>
                             {% for c in ah_category_3 %}
                                <a href="javascript:void(0);" class="list-group-item" onclick="view_stocks('{{ c.id }}')">
                                    {{c.category_name}}
                                </a>
                             {% endfor %}
                        </td>
                        <td>
                             {% for c in ah_category_4 %}
                                <a href="javascript:void(0);" class="list-group-item" onclick="view_stocks('{{ c.id }}')">
                                    {{c.category_name}}
                                </a>
                             {% endfor %}
                        </td>
                    </tr>
                </table>

            </div>
            <div class="col-md-8">
                <table class="table table-bordered">
                        <tr>
                          <th>股票</th>
                          <th>编码</th>
                        </tr>
                      <tbody id="stocks-info">
                      </tbody>
                    </table>
            </div>
        </div>

	</div>

</div>
{% endblock %}