{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/customer/cn_a_stocks.css' %}" />
    <style>
        .active{
            background-color: #00343F;
        }
    </style>
{% endblock %}
{% block script %}
    <script>
        function getkline(img_link){
            $("#kline-img").attr("src",img_link);
        }
    </script>
{% endblock %}



{% block content %}
   <div class="row">
        <div class="col-md-4" style="width:40%;">
            <h2 style="display:inline;">{{ sobj.stock_name }}</h2> <span class="detail-stock_code">({{ sobj.stock_code }})</span>

            {% if sobj.now_price != None %}
                <div class="stock-now-price">
                {% if sobj.price_change < 0 %}
                    <span class="stock-realtime-price green-price-color">{{sobj.now_price}}  ({{sobj.price_change}}%)</span></td>
                {% elif sobj.now_price == 0 %}
                    <span class="stock-realtime-price white-price-color">{{sobj.now_price}}</span></td>
                {% else %}
                    <span class="stock-realtime-price red-price-color">{{sobj.now_price}}  ({{sobj.price_change}}%)</span></td>
                {% endif %}
                </div>
            {% endif %}

            {% if sobj.website %}
                <br/><br/>
                公司主页&nbsp; <a href="{{ sobj.website }}" target="_blank">{{sobj.website}}</a><br/>
            {% endif %}
            {% if sobj.main_business %}
                {{ sobj.main_business}} <br/>
            {% endif %}
            {% if sobj.business_scope %}
                    经营范围: {{ sobj.business_scope}} <br/>
            {% endif %}

            {% if sobj.introduction %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    公司介绍:
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    {{ company_info}}... >>点击了解更多
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                       {{ sobj.introduction}}
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="kline-div">
                <div class="kline-img">
                    <img id="kline-img" src="{{hour_price_url}}" />
                </div>
                <div class="kline-date">
                    <ul class="kline-date-ul">
                        <a href="javascript:void(0)" onclick="getkline('{{hour_price_url}}')"><li>时</li></a>
                        <a href="javascript:void(0)" onclick="getkline('{{daily_price_url}}')"><li>日</li></a>
                        <a href="javascript:void(0)" onclick="getkline('{{week_price_url}}')"><li>周</li></a>
                        <a href="javascript:void(0)" onclick="getkline('{{month_price_url}}')"><li>月</li></a>
                    </ul>
                </div>
            </div>

           <div class="stock-base-info">
                <table class="table table-bordered">
                    <tr>
                        <td>开盘</td><td>{{ stockinfo.opening_price}}</td><td>最高</td><td>{{ stockinfo.today_highest}}</td>
                        <td>均价</td><td>{{ stockinfo.average_price}}</td><td>最低</td><td>{{ stockinfo.today_lowest}}</td>
                    </tr>
                    <tr>
                        <td>涨停</td><td>{{ stockinfo.harden_price}}</td><td>振幅</td><td>{{ stockinfo.amplitude}}%</td>
                        <td>跌停</td><td>{{ stockinfo.drop_stop_price}}</td><td>总手</td><td>{{ stockinfo.tradenum}}</td>
                    </tr>
                    <tr>
                        <td>内盘</td><td>{{ stockinfo.the_inner}}万</td><td>外盘</td><td>{{ stockinfo.the_outer}}万</td>
                        <td>换手率</td><td>{{ stockinfo.turnover_rate}}%</td><td>市净率</td><td>{{ stockinfo.pb_ratio}}</td>
                    </tr>
                    <tr>
                        <td>市盈率(动)</td><td>{{ stockinfo.pe_dynamic}}</td><td>市盈率(静)</td><td>{{ stockinfo.pe_static}}</td>
                        <td>流通市值</td><td>{{ stockinfo.traded_market_value}}亿</td><td>总市值</td><td>{{ stockinfo.aggregate_market_value}}亿</td>
                    </tr>
                </table>
            </div>
      </div>

      <div class="col-md-8" style="width:60%;">
         <table class="table table-bordered">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>城市</th>
                    <th>邮编</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>560001</td>
                </tr>
                <tr>
                    <td>Sachin</td>
                    <td>Mumbai</td>
                    <td>400003</td>
                </tr>
                <tr>
                    <td>Uma</td>
                    <td>Pune</td>
                    <td>411027</td>
                </tr>
            </tbody>
        </table>
          <table class="table table-bordered">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>城市</th>
                    <th>邮编</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>560001</td>
                </tr>
                <tr>
                    <td>Sachin</td>
                    <td>Mumbai</td>
                    <td>400003</td>
                </tr>
                <tr>
                    <td>Uma</td>
                    <td>Pune</td>
                    <td>411027</td>
                </tr>
            </tbody>
          </table>
          <table class="table table-bordered">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>城市</th>
                    <th>邮编</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>560001</td>
                </tr>
                <tr>
                    <td>Sachin</td>
                    <td>Mumbai</td>
                    <td>400003</td>
                </tr>
                <tr>
                    <td>Uma</td>
                    <td>Pune</td>
                    <td>411027</td>
                </tr>
            </tbody>
          </table>
          <table class="table table-bordered">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>城市</th>
                    <th>邮编</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>560001</td>
                </tr>
                <tr>
                    <td>Sachin</td>
                    <td>Mumbai</td>
                    <td>400003</td>
                </tr>
                <tr>
                    <td>Uma</td>
                    <td>Pune</td>
                    <td>411027</td>
                </tr>
            </tbody>
          </table>
      </div>
   </div>



</div>
{% endblock %}