{% extends 'base.html' %}

{% block content %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>名称</th>
          <th>编码</th>
          <th>板块</th>
        </tr>
      </thead>
      <tbody>
       {% for h in sh %}
        <tr>
          <td>{{ h.stock_name }}</td>
          <td>{{ h.stock_code }}</td>
          <td>{{ h.category.category_name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "pagination.html" %}
{% endblock %}