{% extends 'base.html' %}

{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/customer/cn_a_stocks.css' %}" />
{% endblock %}

{% block content %}

    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#home" data-toggle="tab">
                 沪深股票列表
            </a>
        </li>
        <li><a href="#category" data-toggle="tab">板块划分</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <table class="table table-striped">
              <thead>
                <tr>
                    <th>名称</th>
                    <th>编号</th>
                    <th>板块</th>
                    <th>地域</th>
                    <th>上市时间</th>
                </tr>
              </thead>
              <tbody>
               {% for h in sh %}
                <tr>
                    <td>
                        <div class="stock-name"><a href="detail?sid={{h.id}}">{{ h.stock_name }}</a></div>
                        {% if h.now_price != None %}
                            {% if h.price_change < 0 %}
                                <span class="stock-realtime-price green-price-color">{{h.now_price}}  ({{h.price_change}}%)</span></td>
                            {% elif h.now_price == 0 %}
                                <span class="stock-realtime-price white-price-color">{{h.now_price}}</span></td>
                            {% else %}
                                <span class="stock-realtime-price red-price-color">{{h.now_price}}  ({{h.price_change}}%)</span></td>
                            {% endif %}
                        {% endif %}
                    <td>{{ h.stock_code }}</td>
                    <td>{{ h.category.category_name }}</td>
                    <td>{{ h.area }}</td>
                    <td>{{ h.ipodate }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        {% include "pagination.html" %}
        </div>


	<div class="tab-pane fade" id="category">
        <div class="row">
            <div class="col-md-4">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>板块</th>
                    </tr>
                  </thead>
                  <tbody>

                   {% for c in categories %}
                    <tr>
                        <td><a href="#">{{c.category_name}}</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-8">
                <h2>这里是所在版块的股票列表，未完待续...</h2>
            </div>
        </div>

	</div>

</div>
{% endblock %}