.stock-name{
    width: 60px;
    height:20px;
    display:inline;
}
.stock-realtime-price{
    margin-left:1%;
    width:50px;
    height:40px;
    border-radius: 4px;
    font-size: 0.15em;
    //background-color: red;
}
.green-price-color{
    color: green;
}
.red-price-color{
    color:red;
}
.white-price-color{
    color:#ccc;
}
.detail-stock_code{
    font-size: 1.5em;
}
.stock-base-info{
    margin-top:2%;
    font-size: 1em;
}

.kline-div{
    margin-top: 2%;
    width:40%;
    height: 350px;
}
.kline-date-ul{
    list-style:none;
}
.kline-date-ul li{
    font-weight: bold;
    float:left;
    width:60px;
    height:30px;
    line-height:30px;
    text-align: center;
    border:solid 1px #ccc;
}
.kline-img{
    margin-top:2%;
}