{% extends 'base.html' %}
 {% load staticfiles %}
{% block style %}
      <link rel="stylesheet" href="{% static 'css/customer/home.css' %}" />
{% endblock %}

{% block content %}
   <div class="search">
        <table>
            <tr>
                <td>
                    <select class="form-control">
                        <option>A股</option>
                        <option>港股</option>
                        <option>美股</option>
                        <option>加密货币</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="待查股票代码或者数字货币" />
                </td>
                <td>
                    <button type="button" class="btn btn-default" style="margin-left:3px; margin-top:-3px;"> 查询 </button>
                </td>
            </tr>
        </table>
    </div>

   <img src="data:image/png;base64,{{ graphic|safe }}">
{% endblock %}