{% extends 'base.html' %}
 {% load staticfiles %}
{% block style %}
      <link rel="stylesheet" href="{% static 'css/customer/home.css' %}" />
{% endblock %}

{% block content %}
   <div class="search">
        <table>
            <tr>
                <td>
                    <select class="form-control">
                        <option>A股</option>
                        <option>港股</option>
                        <option>美股</option>
                        <option>加密货币</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="待查股票代码或者数字货币" />
                </td>
                <td>
                    <button type="button" class="btn btn-default" style="margin-left:3px; margin-top:-3px;"> 查询 </button>
                </td>
            </tr>
        </table>
    </div>
    <table class="table table-bordered" style="margin-top:1%; width:70%">
      <thead>
        <tr>
            <th>资产名称</th>
            <th>类型</th>
            <th><a href="#">近1月</a></th>
            <th><a href="#">近6月</a></th>
            <th><a href="#">近1年</a></th>
            <th><a href="#">近3年</a></th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td><a href="#">亚马逊 [<span class="code">FT123</span>]</a></td>
            <td>美股</td>
            <td>600%</td>
            <td>400%</td>
            <td>800%</td>
            <td>1200%</td>
        </tr>
        <tr>
            <td><a href="#">贵州茅台 [<span class="code">600519</span>]</a></td>
            <td>A股</td>
            <td>588%</td>
            <td>400%</td>
            <td>800%</td>
            <td>1200%</td>
        </tr>
        <tr>
            <td><a href="#">BTC [<span class="code">BTC/USDT</span>]</a></td>
            <td>加密货币</td>
            <td>567%</td>
            <td>400%</td>
            <td>800%</td>
            <td>1200%</td>
        </tr>
        <tr>
            <td><a href="#">微软 [<span class="code">sdf123</span>]</a></td>
            <td>美股</td>
            <td>472%</td>
            <td>400%</td>
            <td>800%</td>
            <td>1200%</td>
        </tr>
             <tr>
            <td><a href="#">哈撒韦伯克希尔 [<span class="code">FT123</span>]</a></td>
            <td>美股</td>
            <td>600%</td>
            <td>400%</td>
            <td>800%</td>
            <td>1200%</td>
        </tr>
        <tr>
            <td><a href="#">上海机场 [<span class="code">600519</span>]</a></td>
            <td>A股</td>
            <td>588%</td>
            <td>400%</td>
            <td>800%</td>
            <td>1200%</td>
        </tr>
        <tr>
            <td><a href="#">BCH [<span class="code">BTC/USDT</span>]</a></td>
            <td>加密货币</td>
            <td>567%</td>
            <td>400%</td>
            <td>800%</td>
            <td>1200%</td>
        </tr>
        <tr>
            <td><a href="#">特斯拉 [<span class="code">sdf123</span>]</a></td>
            <td>美股</td>
            <td>472%</td>
            <td>400%</td>
            <td>800%</td>
            <td>1200%</td>
        </tr>
             <tr>
            <td><a href="#">上海机场 [<span class="code">600519</span>]</a></td>
            <td>A股</td>
            <td>588%</td>
            <td>400%</td>
            <td>800%</td>
            <td>1200%</td>
        </tr>
        <tr>
            <td><a href="#">BCH [<span class="code">BTC/USDT</span>]</a></td>
            <td>加密货币</td>
            <td>567%</td>
            <td>400%</td>
            <td>800%</td>
            <td>1200%</td>
        </tr>
        <tr>
            <td><a href="#">特斯拉 [<span class="code">sdf123</span>]</a></td>
            <td>美股</td>
            <td>472%</td>
            <td>400%</td>
            <td>800%</td>
            <td>1200%</td>
        </tr>
             <tr>
            <td><a href="#">上海机场 [<span class="code">600519</span>]</a></td>
            <td>A股</td>
            <td>588%</td>
            <td>400%</td>
            <td>800%</td>
            <td>1200%</td>
        </tr>
        <tr>
            <td><a href="#">BCH [<span class="code">BTC/USDT</span>]</a></td>
            <td>加密货币</td>
            <td>567%</td>
            <td>400%</td>
            <td>800%</td>
            <td>1200%</td>
        </tr>
        <tr>
            <td><a href="#">特斯拉 [<span class="code">sdf123</span>]</a></td>
            <td>美股</td>
            <td>472%</td>
            <td>400%</td>
            <td>800%</td>
            <td>1200%</td>
        </tr>
      </tbody>
    </table>

{% endblock %}