<div class="dj-pagenav">
    <nav aria-label="Page navigation example">
        <ul class="pagination">

            <li class="page-item">
                {% if page_of_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="toPage({{ page_of_obj.previous_page_number }})">上一页</a></li>
                {% else %}
                    <li class="page-item disable"><a class="page-link" href="">上一页</a></li>
                {% endif %}
            </li>

            <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="toPage(1)">首页</a> </li>

            {% for page_num in range_page %}
                {% if page_num == page_of_obj.number %}
                     <li class="page-item active">
                         <a class="page-link" href="javascript:void(0)" onclick="toPage({{page_num}})">
                             {{ page_num }}
                         </a></li>
                {% else %}
                    {% if page_num == '...' %}
                        <li class="page-item "><a class="page-link" href="javascript: void(0);" style="opacity: 1">{{ page_num }}</a></li>
                    {% else %}
                        <li class="page-item">
                            <a href="javascript:void(0)" onclick="toPage({{page_num}})" class="page-link" >{{ page_num }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="toPage({{ page_of_obj.paginator.num_pages }})" >尾页</a> </li>

            <li class="page-item">
                {% if page_of_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="toPage({{ page_of_obj.next_page_number }})">下一页</a></li>
                {% else %}
                    <li class="page-item disable"><a class="page-link" href="">下一页</a></li>
                {% endif %}
            </li>

            <li class="page-item"><span class="page-nav-info">(共有{{ page_of_obj.paginator.count}}条记录)</span></li>
        </ul>
    </nav>

</div>