{% extends 'base.html' %}

{% block content %}

    <table class="table table-bordered">
        <caption>项目进度表</caption>
        <thead>
            <tr>
                <th>需求</th>
                <th>开发者</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>详情</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>项目启动</td>
                <td>谢雍庆，胥耀</td>
                <td>2019-12-01</td>
                <td>2019-12-01</td>
                <td>明确需求、技术栈、启动项目</td>
            </tr>
           <tr>
                <td>设计项目demo</td>
                <td>谢雍庆</td>
                <td>2019-12-02</td>
                <td>2019-12-05</td>
                <td>设计demo，整体页面框架</td>
            </tr>
              <tr>
                <td>导数据</td>
                <td>谢雍庆</td>
                <td>2019-12-05</td>
                <td>2019-12-14</td>
                <td>添加分页、使用sina，baostock获取需要的数据，导进本地数据库</td>
            </tr>
             <tr>
                <td>学习matplot</td>
                <td>谢雍庆</td>
                <td>2019-12-16</td>
                <td>2019-12-16</td>
                <td>学习matplot制作数据图，暂时项目中用不到</td>
            </tr>
            <tr>
                <td>实现展示各时期收益率</td>
                <td>谢雍庆</td>
                <td>2019-12-16</td>
                <td>2019-12-17</td>
                <td>开发实现在首页展示各个时期收益率的股票，避免耗时计算，只展示截止最近工作日前一天的收盘价数据， 在项目中使用xadmin管理后台数据</td>
            </tr>
           <tr>
                <td>完善A股详情页分类页面</td>
                <td>谢雍庆</td>
                <td>2020-02-02</td>
                <td>2020-02-02</td>
                <td>设计并完善A股分类页面</td>
            </tr>
            <tr>
                <td>学习并使用celery做项目的定时、异步任务</td>
                <td>谢雍庆</td>
                <td>2020-02-09</td>
                <td>2020-02-09</td>
                <td>在项目中使用celery、redis实现定时任务、异步任务</td>
            </tr>
           <tr>
                <td>管理员页面、项目部署</td>
                <td>谢雍庆</td>
                <td>2020-02-10</td>
                <td>~~~~~</td>
                <td>1、添加管理员页面。2、项目部署上线，技术栈django+supervisor+uwsgi+nginx</td>
            </tr>



        </tbody>
    </table>

{% endblock %}